<!doctype html>
<html>
	<head>
		
	</head>
	<body>

		<h1>Dashboard: </h1>
		
		{{ Packet.version }}
		{{ Packet.packet_id }}
		
		GPSSats: {{ SupData.GPSSats.value }}
		RBSig: {{ SupData.RBSig.value }}
		Commands: {{ SupData.Commands.value }}
		AltTemp: {{ SupData.AltTemp.value }}
		AltPress: {{ SupData.AltPress.value }}
		Vbat+: {{ SupData.VbatPlus.value }}
		Vbat-: {{ SupData.VbatMinus.value }}
		3V6batV: {{ SupData.3V6batV.value }}
		7V_I: {{ SupData.7V_I.value }}
		3.3V_I: {{ SupData.3.3V_I.value }}
		Tbat: {{ SupData.Tbat.value }}
		Tcomp: {{ SupData.Tcomp.value }}
		Tmag: {{ SupData.Tmag.value }}
		Tadc1: {{ SupData.Tadc1.value }}
		Tadc2: {{ SupData.Tadc2.value }}
		Text: {{ SupData.Text.value }}
		Trock: {{ SupData.Trock.value }}
		
	</body>

</html>
