<!doctype html>
<html>
	<head>
		
	</head>
	<body>

		<h1>Dashboard: </h1>
		
		Packet Version: {{ Packet.version }}  <br>
		Packet ID: {{ Packet.packet_id }}     <br>
		
		GPSSats: {{ SupData.GPSSats.value }}  <br>
		RBSig: {{ SupData.RBSig.value }}      <br>
		Commands: {{ SupData.Commands.value }}<br>
		AltTemp: {{ SupData.AltTemp.value }}  <br>
		AltPress: {{ SupData.AltPress.value }}<br>
		VbatPlus: {{ SupData.VbatPlus.value }}   <br>
		VbatMinus: {{ SupData.VbatMinus.value }}  <br>
		3V6batV: {{ SupData.3V6batV.value }}  <br>
		7V_I: {{ SupData.7V_I.value }}        <br>
		3V3_I: {{ SupData.3V3_I.value }}    <br>
		Tbat: {{ SupData.Tbat.value }}        <br>
		Tcomp: {{ SupData.Tcomp.value }}      <br>
		Tmag: {{ SupData.Tmag.value }}        <br>
		Tadc1: {{ SupData.Tadc1.value }}      <br>
		Tadc2: {{ SupData.Tadc2.value }}      <br>
		Text: {{ SupData.Text.value }}        <br>
		Trock: {{ SupData.Trock.value }}      <br>
		
	</body>

</html>
