<!doctype html>
<html>
	<head>
		
	</head>
	<body>

		<h1>Dashboard: </h1>
		
		{{ Packet.version }}
		{{ Packet.packet_id }}
		
		GPSSats: {{ SupData.GPSSats }}
		RBSig: {{ SupData.RBSig }}
		Commands: {{ SupData.Commands }}
		AltTemp: {{ SupData.AltTemp }}
		AltPress: {{ SupData.AltPress }}
		Vbat+: {{ SupData.Vbat+ }}
		Vbat-: {{ SupData.Vbat- }}
		3V6batV: {{ SupData.3V6batV }}
		7V_I: {{ SupData.7V_I }}
		3.3V_I: {{ SupData.3.3V_I }}
		Tbat: {{ SupData.Tbat }}
		Tcomp: {{ SupData.Tcomp }}
		Tmag: {{ SupData.Tmag }}
		Tadc1: {{ SupData.Tadc1 }}
		Tadc2: {{ SupData.Tadc2 }}
		Text: {{ SupData.Text }}
		Trock: {{ SupData.Trock }}
		
	</body>

</html>
