<html>
   <head>
      <title>Google Charts Tutorial</title>
      <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js">
      </script>
      <script type = "text/javascript" src = "https://www.google.com/jsapi">
      </script>
      <script type = "text/javascript">
         google.charts.load('current', {'packages': ['map'], 'mapsApiKey': '{{ MAPS_API_KEY }}'});     
      </script>
   </head>
   
   <body>
      <div id = "container" style = "width: 80%; height: 100%;float:left">
      </div>
      <div style = "width: 20%; height: 100%;float:left;">
        <h1>Map must be refreshed to show current points</h1>
        <a href=""><button>Refresh Map</button></a>
      </div>
      <script language = "JavaScript">
         function drawChart() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable([
               ['Lat', 'Long', 'Name'],
               {% for point in points %}[{{ point.0 }}, {{ point.1 }}, "{{ point.2 }}<br>{{ point.3 }}"],{% endfor %}
            ]);
              
            // Set chart options
            var options = {
              zoomLevel: 12,
              showTooltip: true,
              showInfoWindow: true,
              showLine: true,
              lineColor: '#000000',
              lineWidth: 10,
              useMapTypeControl: true,
            };				

            // Instantiate and draw the chart.
            var chart = new google.visualization.Map(document.getElementById
            ('container'));
            chart.draw(data, options);
         }
         google.charts.setOnLoadCallback(drawChart);
      </script>
   </body>
</html>