<!doctype html>
<html>
	<head>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">
			google.load("visualization", "1", {packages:["corechart"]});
		</script>
	</head>
	<body>
		<div style="float: left;">
      <form>
			  <input type="submit" value="Refresh Graph">
      </form>
			<h1>{{ title }} </h1>
			<h2> </h2>
			<th>{{ description }} </th>
			<h2> </h2>
			{{ chart.as_html|safe }}
      <form>
			  <input type="submit" value="Refresh Graph">
      </form>
		</div>
    <div style="float: left;">
			<h2> Graph Filters </h2>
      <form>
        Window begin: <br>
        <input type="radio" name="windowStartRelative" value="true"{% if filterOptions.windowStartRelative == "true" %} {{ "checked" }} {% endif %}>Relative<br>
          <div style="margin-left: 40px;">
            <input id="windowStartYearsAgo" name="windowStartYearsAgo"> Years, 
            <input id="windowStartWeeksAgo" name="windowStartWeeksAgo"> Weeks, 
            <input id="windowStartDaysAgo" name="windowStartDaysAgo"> Days, 
            <input id="windowStartHoursAgo" name="windowStartHoursAgo"> Hours, 
            <input id="windowStartMinutesAgo" name="windowStartMinutesAgo"> Minutes, and
            <input id="windowStartSecondsAgo" name="windowStartSecondsAgo"> Seconds ago.
          </div>
        <br>
        <input type="radio" name="windowStartRelative" value="false"{% if filterOptions.windowStartRelative == "false" %} {{ "checked" }} {% endif %}>Fixed<br>
          <div style="margin-left: 40px;">
            Start at: <input id="windowStartAtYear" name="windowStartAtYear">Year
            <input id="windowStartAtMonth" name="windowStartAtMonth">Month
            <input id="windowStartAtDay" name="windowStartAtDay">Day
            <input id="windowStartAtHour" name="windowStartAtHour">Hour
            <input id="windowStartAtMinute" name="windowStartAtMinute">Minute
            <input id="windowStartAtSecond" name="windowStartAtSecond">Second
          </div>
          <input type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" id="24h"/>
          <input type="text" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}" id="24h"/>
			  <input type="submit" value="Apply Filters">
      </form>
    <div>
	</body>

</html>
