<!doctype html>
<html>
    <head>
		<h1>&#x1d572;lobal &#x1d56e;ircuit &#x1d57b;ayload &#x1d56f;ata</h1>
    </head>
    <body>
		<h2>Graphs: </h2>
	    <form action="/gps/">
			<input type="submit" value="GPS Coordinates" />
        </form>
        
		<h2> </h2>
		
	    <form action="/altitude/">
			<input type="submit" value="Altitude" />
        </form>
		
		<h3> </h3>
		
        <form action="/horizontal/">
			<input type="submit" value="Horizontal Probes" />
        </form>
        
        <h4> </h4>
        
        <form action="/vertical/">
			<input type="submit" value="Vertical Probes" />
        </form>
		
		<h5> </h5>
		
	    <form action="/compass/">
			<input type="submit" value="Compass Data" />
        </form>
		
		<h6> </h6>
		
        <form action="/conductivity/">
			<input type="submit" value="Conductivity" />
        </form>
        
        <h2> </h2>
        
        <h2>Tables: </h2>
        <h2> </h2>
        <form action="/tables/">
			<input type="submit" value="Tables" />
        </form>
        
        <h2> </h2>
        <h2>Download Files: </h2>
        <h2> </h2>
        <form action="/pdf/">
			<input type="submit" value="Download PDF" />
        </form>
        
        <h2></h2>
        
        <form action="/csv/">
			<input type="submit" value="Download CSV" />
        </form>

    </body>
</html>
