<!doctype html>
<html>
	<head>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">
			google.load("visualization", "1", {packages:["corechart"]});
		</script>
	</head>
	<body>
        <div style="float: left;">
            <h1>{{ title }} </h1>
            <h2> </h2>
            <th>{{ description }} </th>
            <h2> </h2>
            {{ chart.as_html }}
        </div>
		<form style="float: left;">
			imei:<br>
			<input type="text" name="imei" value="{{ imei }}"><br>
			maxTime:<br>
			<input type="text" name="maxTime" value="{{ maxTime }}"><br>
			minTime:<br>
			<input type="text" name="minTime" value="{{ minTime }}"><br>
			maxVal:<br>
			<input type="text" name="maxVal" value="{{ maxVal }}"><br>
			minVal:<br>
			<input type="text" name="minVal" value="{{ minVal }}"><br>
			volts:<br>
			<input type="text" name="volts" value="{{ volts }}"><br><br>
			<input type="submit" value="Submit">
		</form>
	</body>

</html>
